In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('/Users/akshatpatel/Downloads/Random Data /daily_gym_attendance_workout_data.csv')

In [50]:
# First we will check and get the meta data about the Data Set that we are using.
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2600 entries, 0 to 2599
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Member_Id                 2600 non-null   int64
 1   Visit_Date                2600 non-null   object
 2   Age                       2600 non-null   int64
 3   Gender                    2600 non-null   object
 4   Membership_Type           2600 non-null   object
 5   Workout_type              2600 non-null   object
 6   Workout_duration_minutes  2600 non-null   int64
 7   Calories_burned           2600 non-null   int64
 8   calories_per_minute       2600 non-null   float64
 9   Check_in_time             2600 non-null   object
 10  Attendance_status         2600 non-null   object
dtypes: float64(1), int64(4), object(6)
memory usage: 223.6+ KB

,Member_Id,Visit_Date,Age,Gender,Membership_Type,Workout_type,Workout_duration_minutes,Calories_burned,calories_per_minute,Check_in_time,Attendance_status
0,1,10/11/24,64,Other,Annual,HIIT,28,171,6.107143,20:04,Absent
1,2,6/1/24,65,Female,Quarterly,Strength Training,72,650,9.027778,19:17,Absent
2,3,6/13/24,45,Male,Quarterly,Cardio,70,633,9.042857,7:24,Absent
3,4,2/5/24,35,Female,Monthly,CrossFit,64,362,5.656250,7:18,Absent
4,5,7/13/24,26,Female,Quarterly,Yoga,31,262,8.451613,11:22,Absent

### Then we will check for any kind of null values in the Data Set. But we can see that when we used the info() function we can see that there are no null values in the Data Set. But still we will check again.

In [ ]:
df.isnull().sum() # As we can see in the output that there are no null values in the Data Set. If there was anykind of null values we would have use interpolate() or fillna() function to fill those values.

Member_Id                   0
Visit_Date                  0
Age                         0
Gender                      0
Membership_Type             0
Workout_type                0
Workout_duration_minutes    0
Calories_burned             0
calories_per_minute         0
Check_in_time               0
Attendance_status           0
dtype: int64

### Now I want to know how many person are following or which type of training they are doing.

In [ ]:
count_workout_type = df['Workout_type'].value_counts()
print(count_workout_type) # As show they are 5 types of workout people are doing in the gym. I will also create a pie or donut chart to show the percentage of each workout type.

Workout_type
Strength Training    559
Cardio               545
HIIT                 520
CrossFit             509
Yoga                 467
Name: count, dtype: int64

### I also want to know the gender distribution in my gym.

In [83]:
gender_distribution = df.Gender.value_counts()
print(gender_distribution.sort_values(ascending=False))

Gender
Female    886
Other     863
Male      851
Name: count, dtype: int64

In [93]:
member_ship_type = df.Membership_Type.value_counts()
print(member_ship_type.sort_values(ascending=False)) # As we can see in the output that

Membership_Type
Annual       903
Monthly      856
Quarterly    841
Name: count, dtype: int64

### Now I want to find every person Calories Burned Per Minute so that I can rank them on how much they are working and if they need to improve or not.
#### And to make my work even earier I will insert a new Colume with the name Calories Burned Per Minute.

In [44]:
df.insert(8,'calories_per_minute',df['Calories_burned'] / df['Workout_duration_minutes'])
df

,Member_Id,Visit_Date,Age,Gender,Membership_Type,Workout_type,Workout_duration_minutes,Calories_burned,calories_per_minute,Check_in_time,Attendance_status
0,1,10/11/24,64,Other,Annual,HIIT,28,171,6.107143,20:04,Absent
1,2,6/1/24,65,Female,Quarterly,Strength Training,72,650,9.027778,19:17,Absent
2,3,6/13/24,45,Male,Quarterly,Cardio,70,633,9.042857,7:24,Absent
3,4,2/5/24,35,Female,Monthly,CrossFit,64,362,5.656250,7:18,Absent
4,5,7/13/24,26,Female,Quarterly,Yoga,31,262,8.451613,11:22,Absent
...,...,...,...,...,...,...,...,...,...,...,...
2595,2596,7/20/24,64,Female,Quarterly,Yoga,63,443,7.031746,19:07,Absent
2596,2597,5/13/24,22,Other,Quarterly,CrossFit,32,282,8.812500,8:39,Present
2597,2598,4/27/24,44,Male,Quarterly,CrossFit,94,875,9.308511,22:49,Present
2598,2599,12/20/24,62,Male,Annual,HIIT,58,303,5.224138,10:38,Present
2599,2600,4/1/24,62,Female,Annual,Strength Training,65,610,9.384615,5:42,Present

In [92]:
df.Calories_per_minute = df.Calories_per_minute.round(2) # This will round the calories per minute to 2 decimal places for better understanding.
df.rename(columns={'calories_per_minute':'Calories_per_minute'}, inplace=True) 
print(df.Calories_per_minute) # This will show the whole Data Frame without truncating it.
# As we can see in the output that we have rounded the value of calories per minute to 2 decimal places.

# As to standerize the colume name I have renamed the colume name.

0       6.11
1       9.03
2       9.04
3       5.66
4       8.45
        ...
2595    7.03
2596    8.81
2597    9.31
2598    5.22
2599    9.38
Name: Calories_per_minute, Length: 2600, dtype: float64

In [ ]:
highest_burned_cal_people = df.sort_values(by='Calories_burned', ascending=False).head(5) # This will show the top 5 people who burned the most calories in the gym.
print(highest_burned_cal_people.to_string()) # This will show the whole Data Frame without any commas for better reability.

print(highest_burned_cal_people['Gender'].value_counts()) 
# This will show the genders distribution in variable highest_burned_cal_people.

      Member_Id Visit_Date  Age  Gender Membership_Type Workout_type  Workout_duration_minutes  Calories_burned  Calories_per_minute Check_in_time Attendance_status
454         455    10/5/24   36   Other       Quarterly       Cardio                       119             1186                 9.97         19:07           Present
637         638    2/25/24   26    Male       Quarterly     CrossFit                       120             1184                 9.87          6:09            Absent
2002       2003    2/21/24   58  Female       Quarterly     CrossFit                       120             1153                 9.61         14:25           Present
1767       1768    7/11/24   47  Female          Annual     CrossFit                       118             1152                 9.76         14:44            Absent
2067       2068    2/10/24   38   Other       Quarterly     CrossFit                       117             1140                 9.74          7:52            Absent
Gender
Other     2
Female    2
Male      1
Name: count, dtype: int64

### Now I will create a function to rank people based on how much calories per minute they have burned

In [90]:
def rank_by_perfomance(Calories_per_minute):
    if Calories_per_minute <=4:
        return 'Needs Improvement'
    elif Calories_per_minute >=4.1 and Calories_per_minute <= 7:
        return 'Average'
    elif Calories_per_minute > 7.1 and Calories_per_minute <= 10:
        return 'Excellent'
    else:
        return 'Work'
    
df['Performance_Ranking'] = df['Calories_per_minute'].apply(rank_by_perfomance)
print(df) # This will show the whole Data Frame without truncating it.

      Member_Id Visit_Date  Age  Gender Membership_Type       Workout_type  \
0             1   10/11/24   64   Other          Annual               HIIT
1             2     6/1/24   65  Female       Quarterly  Strength Training
2             3    6/13/24   45    Male       Quarterly             Cardio
3             4     2/5/24   35  Female         Monthly           CrossFit
4             5    7/13/24   26  Female       Quarterly               Yoga
...         ...        ...  ...     ...             ...                ...
2595       2596    7/20/24   64  Female       Quarterly               Yoga
2596       2597    5/13/24   22   Other       Quarterly           CrossFit
2597       2598    4/27/24   44    Male       Quarterly           CrossFit
2598       2599   12/20/24   62    Male          Annual               HIIT
2599       2600     4/1/24   62  Female          Annual  Strength Training

      Workout_duration_minutes  Calories_burned  Calories_per_minute  \
0                           28              171                 6.11
1                           72              650                 9.03
2                           70              633                 9.04
3                           64              362                 5.66
4                           31              262                 8.45
...                        ...              ...                  ...
2595                        63              443                 7.03
2596                        32              282                 8.81
2597                        94              875                 9.31
2598                        58              303                 5.22
2599                        65              610                 9.38

     Check_in_time Attendance_status Performance_Ranking
0            20:04            Absent             Average
1            19:17            Absent           Excellent
2             7:24            Absent           Excellent
3             7:18            Absent             Average
4            11:22            Absent           Excellent
...            ...               ...                 ...
2595         19:07            Absent                Work
2596          8:39           Present           Excellent
2597         22:49           Present           Excellent
2598         10:38           Present             Average
2599          5:42           Present           Excellent

[2600 rows x 12 columns]

### Now I will make a new variable to store the data of people with average perfomace in the gym and what are there numbers or count.

In [78]:
average_performaner_list = df[df['Performance_Ranking'] == 'Average']
print(average_performaner_list.value_counts())
print(f"There are {len(average_performaner_list)} people in the gym with average performance.")

Member_Id  Visit_Date  Age  Gender  Membership_Type  Workout_type  Workout_duration_minutes  Calories_burned  Calories_per_minute  Check_in_time  Attendance_status  Performance_Ranking
1          10/11/24    64   Other   Annual           HIIT          28                        171              6.11                 20:04          Absent             Average                1
1761       10/23/24    37   Female  Monthly          CrossFit      118                       695              5.89                 19:06          Present            Average                1
1727       3/13/24     41   Other   Monthly          HIIT          49                        331              6.76                 8:41           Absent             Average                1
1728       9/30/24     18   Female  Monthly          HIIT          66                        396              6.00                 17:30          Present            Average                1
1731       4/8/24      26   Other   Monthly          Cardio        82                        512              6.24                 8:14           Present            Average                1
                                                                                                                                                                                           ..
946        6/4/24      21   Female  Annual           Yoga          37                        197              5.32                 6:13           Present            Average                1
947        9/9/24      60   Other   Monthly          Yoga          39                        230              5.90                 7:42           Absent             Average                1
948        1/17/24     62   Female  Annual           Yoga          117                       767              6.56                 7:57           Present            Average                1
950        4/26/24     61   Male    Quarterly        Yoga          86                        498              5.79                 17:29          Absent             Average                1
2599       12/20/24    62   Male    Annual           HIIT          58                        303              5.22                 10:38          Present            Average                1
Name: count, Length: 1070, dtype: int64
There are 1070 people in the gym with average performance.

### Now after all these things now I want to know what is the Average workout time, calories burned. 
### and what is the average age of people doing workout in the gym.

In [89]:
avg_age = df['Age'].mean()
avg_workout_time = df['Workout_duration_minutes'].mean()
avg_calories_burned = df['Calories_burned'].mean()
print(f"This is the average age of people doing workout in the gym: {round(avg_age)} years. This is the average workout time in the gym: {round(avg_workout_time)} minutes. This is the average calories burned in the gym: {round(avg_calories_burned)} calories.")

This is the average age of people doing workout in the gym: 42 years. This is the average workout time in the gym: 70 minutes. This is the average calories burned in the gym: 524 calories.

In [87]:

# Now I want to find the top 5 person who are burning the most calories per minute in the gym.
top_5_calories_per_minute = df.sort_values(by='Calories_per_minute', ascending=False).head(5)
print(top_5_calories_per_minute[['Member_Id', 'Calories_per_minute','Calories_burned']].sort_values(by='Calories_burned', ascending=False)) # This will show the top 5 person who are burning the most calories per minute in the gym.

      Member_Id  Calories_per_minute  Calories_burned
1427       1428                 9.99             1069
1841       1842                 9.99              809
1534       1535                 9.99              769
2055       2056                 9.99              759
2363       2364                 9.99              699

### I want to find out the date in which we have most visiting members.

In [108]:
busyest_day = df['Visit_Date'].value_counts().head(5)
busyest_day = busyest_day.sort_values(ascending=False)
busyest_day.index = pd.to_datetime(busyest_day.index).strftime(" %d %b %Y")
print(busyest_day)

Visit_Date
02 Dec 2024    16
11 Dec 2024    16
07 Jul 2024    15
21 Oct 2024    14
10 Oct 2024    14
Name: count, dtype: int64

/var/folders/p2/hb6wr0451l76ntl6xhqcspsm0000gn/T/ipykernel_29732/2896363831.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  busyest_day.index = pd.to_datetime(busyest_day.index).strftime(" %d %b %Y")